@import "styles";

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $white;
    padding: 0.625rem 0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 4.939rem;

  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 2.563rem; 
  }
  
  .footer-icons img {
    width: 1.875rem;
    height: 1.875rem;
  }
  